<html>
  <head></head>
  <body>
    <h1>Caesar Cipher</h1>
    <p>Enter your message, then your key</p>
    <form>
      <input type="text" name="phrase">
      <input type="text" name="key">
      <input type="submit" value="Encrypt">
    </form>
 
    <p>Your message is... <%= message %></p>
  </body>
</html>